* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: rgba(69, 69, 69, 0.8);
    display: flex;
    color: #fff;
    border-radius: 30px;

}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    border-radius: 30px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: #03a9f4;
    border-radius: 30px;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #fff;
}

button {
    background: #03a9f4;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(194, 183, 255, 0.3);

}

.contact-left h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

.contact-left input[type="text"],
.contact-left input[type="number"],
.contact-left input[type="email"],
.contact-left input[type="text"],
.msg textarea {
    border-radius: 10px;
}

button:hover {
    background: #0075cf;
    transition: .3s;
}