<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:itel,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300,;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project/DB</title>
</head>

<body>
    <div class="bg" background-image: url("https://img.freepik.com/premium-vector/abstract-background-with-waves_481527-76.jpg");>
    <div class="banner">
        {{>navbar}}
        <div class="content">
            <h1>Welcome</h1>
            <p>Gentrating URL for an image is easy as never before. All it takes is just few clicks</p>
            <form action="main">
                <div class="button">
                    <input type="submit" name="" value="Basic">
            </form>
            <form action="register">
                <div class="button">
                    <input type="submit" name="" value="Secured">
                </div>
            </form>
            <p>Basic : No need to create account<br>
                URL: http less secured
            </p>

            <p>Secured : Need to create account<br>
                URL: https secured
            </p>
        </div>
    </div>
    </div>
    </div>
</body>

</html>