<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:itel,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300,;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/22c0360cfd.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project/DB</title>
</head>

<body>
    {{>navbar}}
    <div class="body">
        <div class="container">
		<input type="file" id="file" accept="image/*" hidden>
		<div class="img-area" data-img="">
			<i class='bx bxs-cloud-upload icon'></i>
			<h3>Upload Image</h3>
			<p>Image size must be less than <span>2MB</span></p>
		</div>
		<button class="select-image">Select Image</button>
	</div>
    <script src="/src/controller/main.js"></script>
</body>

</html>